<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="Card-header">
                    <h3 class="mb-0">Fill Information</h3>
                </div>
                <div class="card-body">
                    <div class="form">
                        <div class="col-md-12">


    <table>
      <tr>
          <td>Full Name</td>
          <td>
              <input [(ngModel)]="bookingModel.name" type="text">
          </td>
      </tr>
      <tr>
          <td>Email ID</td>
          <td>
              <input [(ngModel)]="bookingModel.email" type="text">
          </td>
      </tr>
      <tr>
          <td>Passenger Details</td>
          <td>
              <input [(ngModel)]="bookingModel.passengerDetails" type="text">
          </td>
      </tr>
      <tr>
        <td>Meal</td>
        <td>
          
            <form action [(ngModel)]="bookingModel.meal">
                <label for="meals">Choose Meal :</label>
                <select name="meals" id="meals">
                  <option value="Veg">Veg</option>
                  <option value="NonVeg">NonVeg</option>
                  <option value="None">None</option>
                 
                </select>
                <br><br>
                
              </form>
        
         
        </td>
    </tr> <tr>
      <td>No. of Seats</td>
      <td>
          <input [(ngModel)]="bookingModel.seatNo" type="text">
      </td>
  </tr> 
      <input type="submit" (click)="Addbooking()">
      <td><button routerLink="/account" class="btn btn-primary">See Booking</button></td>

      
  
    </table>
  
  
</div>
</div>
</div>
</div>
</div>