<!DOCTYPE html>
<html>
<body>
<form action="/home">
    <div class="py-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card rounded-0">
                    <div class="Card-header">
                        <h3 class="mb-0">Search Flights</h3>
                    </div>
                    <div class="card-body">
                        <div class="form">
                            <div class="col-md-12">
  <input type="radio" id="One Way" name="fav_language" value="One Way">
  <label for="One Way">One Way</label>
  <input type="radio" id="Round Trip" name="fav_language" value="Round Rrip">
  <label for="Round Trip">Round Trip</label><br>
<label for="birthdaytime">(date and time):</label>
    <input type="datetime-local" id="Datetime" name="Datetime">


    <br><br>
    <input type="text" class="form-control" [(ngModel)]="searchTerm"(keyup)="search($event)" placeholder="Search Flights by Source">
                            </div></div></div></div></div></div>
   

<br><br>

                           
                    
<div class="row mt-5">
    
        <ng-container *ngFor="let flight of flights | filter:searchKey:'fromPlace'">
            
            <div class="card col-md-3">
                <img class="card-img-top" src="../../assets/{{flight.logo}}" alt="Card image cap">
                
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Flight No:{{flight.flightNo}}</strong></h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Airline:{{flight.airline}}</strong></p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Departure:{{flight.fromPlace}}</strong></p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Arrival:{{flight.toPlace}}</strong></p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Date:{{flight.startDateTime}}</strong></p>
                <p><strong>Price: ${{flight.ticketCost}}</strong></p>
                <button class="btn btn-primary" (click)="goto()">Book</button>
                
            </div>
        </ng-container>
    

    </div>
  
  
  <h4 style="margin-left: 20px;"> Explore india</h4><br>
  
  <div class="row" style="border: solid black 1px; border-radius:20px; " >
     
      <div class="col"><img src="../../assets/lonavala.webp" style="width: 200px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
          <p>lonavala</p>
          <p></p>
      </div>
      <div class="col"><img src="../../assets/goa.webp" style="width: 200px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
          <p>Goa</p>
          <p></p>
      </div>
      <div class="col"><img src="../../assets/delhi.webp" style="width: 200px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
          <p>New Delhi</p>
          <p></p>
      </div>
      <div class="col"><img src="../../assets/bang.webp" style="width: 200px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
          <p>Bangalore</p>
          <p></p>
      </div>
    </div>
  <br>
  <!-- offer code -->
    <div >
      <img src="../../assets/add.jpg" style="width: 1100px;height: 100px;">
    </div>
    <br>
  
    <!-- offercode -->
    <div class="row" style="border: solid black 1px; border-radius: 20px;">
      <div class="col" style="margin-top: 15px; margin-left: 30px;">
        <img src="../../assets/offer1.jpg" style="width:270px ; height: 150px; border-radius: 10px;">
        <p>Book Akasa Flights With Us</p>
      </div>
      <div class="col" style="margin-top: 15px;">
          <img src="../../assets/offer2.jpg" style="width:270px ; height: 150px; border-radius: 10px;">
          <p>Flat 10% OFF On Domestic Flights</p>
      </div>
       <div class="col" style="margin-top: 15px;">
          <img src="../../assets/Indigo.png" style="width:270px ; height: 150px; border-radius: 10px;">
          <p>Get Extra Benefits With Indigo Flights</p>
      </div> 
    </div>
  
  



<!-- <!DOCTYPE html>
<html>
<body>
<form action="/home">
    <div class="py-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card rounded-0">
                    <div class="Card-header">
                        <h3 class="mb-0">Search Flights</h3>
                    </div>
                    <div class="card-body">
                        <div class="form">
                            <div class="col-md-12">
  <input type="radio" id="One Way" name="fav_language" value="One Way">
  <label for="One Way">One Way</label>
  <input type="radio" id="Round Trip" name="fav_language" value="Round Rrip">
  <label for="Round Trip">Round Trip</label><br>
<label for="birthdaytime">(date and time):</label>
    <input type="datetime-local" id="Datetime" name="Datetime">

   

<br><br>
    <input type="text" class="form-control" [(ngModel)]="searchTerm"(keyup)="search($event)" placeholder="Search Flights by Source">
                            </div></div></div></div></div></div>
                    
<div class="row mt-5">
     <div class="row"> 
        <ng-container *ngFor="let flight of flights | filter:searchKey:'fromPlace'">
            
            <div class="card col-md-3">
                <img class="card-img-top" src="../../assets/{{flight.logo}}" alt="Card image cap">
                
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Flight No:{{flight.flightNo}}</strong></h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Airline:{{flight.airline}}</strong></p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Departure:{{flight.fromPlace}}</strong></p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Arrival:{{flight.toPlace}}</strong></p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Date:{{flight.startDateTime}}</strong></p>
                <p><strong>Price: ${{flight.ticketCost}}</strong></p>
                <button class="btn btn-primary" (click)="goto()">Book</button>
                
            </div>
        </ng-container>
    

    </div> -->
